.container-div {
  font-weight: 700;
  border: none;
  display: flex;
  margin: 0 0.5rem;
}

.category-div {
  background-color: hsl(180, 31%, 95%);
  color: hsl(180, 29%, 50%);
  padding: 0.5rem;
  padding-top: 0.75rem;
  border-radius: 0.25rem 0 0 0.25rem;
}

.remove-button {
  height: 100%;
  border: none;
  border-radius: 0 0.25rem 0.25rem 0;
  background-color: hsl(180, 29%, 50%);
  padding: 0.5rem;
  padding-top: 0.75rem;
}

.remove-button:hover {
  background-color: hsl(180, 14%, 20%);
  cursor: pointer;
}
