.filterbar {
  position: absolute;
  top: -7rem;
  right: 0;
  left: 0;
  border-radius: 0.25rem;
  background-color: white;
  box-shadow: 0.25rem 0.25rem 0.5rem hsla(180, 29%, 50%, 0.5);
  padding: 1rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.clear-span {
  margin-left: auto;
  color: hsl(180, 29%, 50%);
  font-weight: 700;
  font-size: 13px;
  border-bottom: 1px solid transparent;
  padding-top: 1px;
}

.clear-span:hover {
  border-bottom: 1px solid;
  cursor: pointer;
}
