$inner-container-margin: 20px;

body {
  background-color: hsl(180, 52%, 96%);
  height: 100vh;
  width: 100vw;
}

.header {
  mask-image: url(../../images/bg-header-desktop.svg);
  background-color: hsl(180, 39%, 54%);
  height: 156px;
}

.header-container {
  background-color: hsl(180, 29%, 50%);
}

.inner-container {
  margin: $inner-container-margin auto;
  width: 80%;
  max-width: 1000px;
}

.inner-container2 {
  margin: calc(67.25px + #{$inner-container-margin}) auto;
  width: 80%;
  max-width: 1000px;
}
