.company-container {
  margin-left: 1.5rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  margin-right: 2rem;

  @media (max-width: 700px) {
    margin-bottom: 1rem;
    align-self: stretch;
  }
}

.company-container > div {
  margin: 0.5rem 0;
}

.company {
  color: hsl(180, 29%, 50%);
  font-weight: 700;
  margin-right: 1rem;
  font-size: 14px;
}

.new-tag {
  font-size: 0.8rem;
  background-color: hsl(180, 29%, 50%);
  color: white;
  padding: 0.5rem;
  padding-top: 0.7rem;
  border-radius: 1rem;
  font-weight: 700;
  margin-right: 0.5rem;
  font-size: 11px;
}

.featured-tag {
  font-size: 0.8rem;
  background-color: hsl(180, 14%, 20%);
  color: white;
  padding: 0.5rem;
  padding-top: 0.7rem;
  border-radius: 1rem;
  font-weight: 700;
  font-size: 11px;
}

.position {
  color: hsl(180, 14%, 20%);
  font-weight: 700;
  font-size: 18px;

  @media (max-width: 700px) {
    font-size: 15px;
  }
}

.position:hover {
  color: hsl(180, 29%, 50%);
  cursor: pointer;
}

.details {
  color: hsl(180, 8%, 52%);

  @media (max-width: 700px) {
    align-self: stretch;
    padding-bottom: 0.5rem;
    border-bottom: solid 1px hsl(180, 8%, 52%);
    font-size: 13px;
  }
}

.details > span {
  margin: 0 0.5rem;
}

@media (max-width: 700px) {
}
