.job-container {
  display: flex;
  align-items: center;
  /* box-shadow: 1rem 1rem hsl(180, 29%, 50%); */
  padding: 1rem;
}

.featured-border {
  border-left: 0.5rem solid hsl(180, 29%, 50%);
  border-radius: 0.5rem;
}
